*{
    margin: 0;
    padding: 0;
    }
    .banner{
        background-color: #F0F5F7;
        /* background-color: red; */
        height: 700px;
        position: relative;
        overflow: hidden;
    }

    .banner_d{
        top:30%;
        width:60%;
        left:3%;
    }

    .banner_d h3{
        width: 80%;
    }

    .banner_d form{
        width:83%;
    }

    .banner_d form div{
        height: 60px;
        width: 100%;
    }
    .banner_d form input{
        width: 100%;
        outline: none;
  
    }

    .banner_d form button{
        background-color: rgb(255, 145, 0);
    }

    .banner_d form button:hover{
        background-color: rgb(255, 123, 0);
    }

    .banner_d form i{
        margin-top: 6px;
        font-size: 14px;
        padding-right: 10px;
    }

    

    .banner_details{
      padding-top: 30%;
      padding-left: 2%;
      padding-right: 2%;
    }

    .small_banner{
        background-image: url('/img/shape-4.png');
        min-height: 800px;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        background-size: cover;
    }

    .lg_image{
        position: absolute;
        top:8%;
        right:-100px;
    }

    .lg_image img{
        width: 90%;
    }

   

    .small_banner form input{
        width: 100%;
        outline: none;
    }

    .small_banner form button{
        background-color: rgb(255, 145, 0);
    }

    .small_banner form button:hover{
        background-color: rgb(255, 115, 0);
    }

    

    /* Extra small devices (phones, 600px and down) */
    /* @media only screen and (max-width: 600px) {
        .banner{
            background-image: url('/img/shape-1.png');
        }

    } */

    @media only screen and (min-width: 450px) {

        .banner_details{
            padding-top: 13%;
            padding-left: 2%;
            padding-right: 2%;
            }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {

        .banner_details{
            padding-top: 15%;
            padding-left: 2%;
            padding-right: 2%;
            }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    /* @media only screen and (min-width: 768px) {
        .banner{
            background-image: url('/img/shape-1.png');
        }
    } */

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1024px) {
        
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    /* @media only screen and (min-width: 1200px) {...} */

    nav a{
        padding: 16px;
    }

    .menu a:hover{
        background-color: rgb(100, 99, 99);
        color: antiquewhite;
        border-radius: 6px;
        
    }
    .menu_border{
        border-bottom:1px solid gray;
        padding: 18px;
    }

    .menu button{
        background-color: rgb(255, 145, 0);
        padding: 20px;
        transition: .4s;
    }
    .menu button:hover{
        background-color: rgb(255, 115, 0);
        transition: .4s;
    }

    .lg_nav a:hover{
        color: rgb(216, 78, 27);
    }

    .lg_log .p_job{
        background-color: rgb(255, 145, 0);
        transition: .2s;
    }

    .lg_log .p_job:hover{
        background-color: rgb(255, 115, 0);
        transition: .2s;
    }
    .lg_log .log_reg{
        background-color: #1967D2;
        transition: .2s;
    }

    .lg_log .log_reg:hover{
        background-color: #0c57c0;
        transition: .2s;
    }

    .lg_log .cv{
        background-color: transparent;
        
    }

    /* Job */
    .job h3,.testimonial h3{
        font-size: 27px;
    }

    .job_hover a,.job_hover i{
        transition: .4s;
    }

    .job_hover:hover a{
       color: #1967D2;
       transition: .4s;
    }

    .job_hover:hover i{
        background-color: #1967D2;
        transition: .4s;
    }

    .job_hover:hover i{
        color:rgba(255, 255, 255, 0.918);
        transition: .4s;
    }

    .job_feature{
        transition: .2s;
    }

    .job_feature a:hover{
        color:#1967D2;
        transition:.2s;
    }

    /* App section */
    .app_section{
        padding: 100px 0 30px;
    }

    .auto_container{
        position: static;
        max-width: 1310px;
        padding: 0px 15px;
        margin: 0 auto;
        width: 100%;
    }

    .bg_shape{
        position: absolute;
        left: -30px;
        top: 0;
        right: -10px;
        height: 100%;
        background-image: url(/img/shape-1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .auto_container .image{
        padding-top: 55px;
        margin-bottom: 0;
    }

    .inner_column{
        position: relative;
        padding: 100px 0;
        padding-left: 30px;
    }

    /* Calling section */
    .rec_section{
        padding: 10px;
    }

    .rec_bg{
        background-color: #EFF4FC;
        width: 100%;
        max-width: 1350px;
        position: static;
        overflow: hidden;
        padding: 10%;
    }

    /* .rec_bg .rec_image{ */
        /* background-image: url(/img/image-1.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        height: 100%; */
        /* width: 150px; */
    /* } */

    /* Footer */
      
/* Recruiting Hero */
.wrapper {
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}
.recruite-area {
    background: rgba(25, 103, 210, 0.07);
    border-radius: 15px;
    display: block;
    overflow: hidden;
}

.part-left {
    float: left;
    width: 70%;
}
.part-right {
    display: block;
    overflow: hidden;
    float: right;
    width: 30%;
    background: url(../img/image-1.png) no-repeat;
    background-position: 110% 0;
    padding: 150px 0;
}

.recrute-hero {
    padding: 40px 60px;
}

.recrute-hero h2 {
    font-size: 30px;
    line-height: 1.2em;
    color: #202124;
    font-weight: 500;
}

.recrute-hero p {
    font-size: 15px;
    line-height: 26px;
    color: #696969;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}

.recrute-hero button {
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    background-color: #1967D2;
    font-size: 15px;
    line-height: 20px;
    border-radius: 8px;
    font-weight: 400;
    padding: 18px 35px 15px 35px;

}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}


    .list li {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #696969;
    margin-bottom: 15px;
    }
    
    .list li a {
    display: inline-block;
    color: #696969;
    transition: all 200ms ease;
    }
    
    .list li:before {
    position: absolute;
    left: 0;
    top: 10px;
    height: 2px;
    width: 0px;
    content: "";
    border-bottom: 2px solid #1967D2;
    transition: all 300ms ease;
    }
    
    .list li:hover:before {
    width: 15px;
    }
    
    .list li:hover a {
    transform: translateX(25px);
    color: #1967D2;
    }
    .foot_social a{
        transition: .30s;
    }
    .foot_social a:hover{
        color:rgb(185, 185, 185);
        transition: .30s;
    }


    