*{
    margin: 0;
    padding: 0;
    }

    h4{
        font-size: 24px;
    }
    p{
        font-size: 16px;
    }
    h3{
        font-size: 30px;
    }
    h5{
        font-size: 18px;
    }
    h2{
        font-size:30px;
    }

    .menu{
        background-color:black;
        position: relative;
        margin:0;
        padding: 0;
    }

    .xx{
        max-height: 600px;
    }
    .left .fa-bars{
        padding-top:3px;
        margin-right: 5px;
    }
    .menu a{
        text-decoration: none;
        color: rgb(161, 161, 161);
        font-size: 16px;
        font-weight: 600;
    }
    .menu .right a{
        color:rgba(250, 235, 215, 0.938);
        background:#46e74e;
        padding:6px 12px 6px 12px;
        border-radius: 15px 15px 15px 15px;
    }
    
    .l_menu .right a{
        color: white;
        background: #46e74e;
        padding: 11px 21px 11px 21px;
        border-radius: 21px 21px 21px 21px;
        transition:0.2s;
    }

    .l_menu .right a:hover{
        color: #3f9644;
        border:1px solid #3f9644;
        border-radius: 21px 21px 21px 21px;
        background-color:white;
        transition:0.2s;
    }

    .l_menu .left a:hover{
        color: #3f9644;
        transition:0.1s;
    }

    .full_menu{
        position: absolute;
        width: 100%;
        background-color: black;
        border-top: 1px solid;
        display: none;
    }

    .full_menu ul{
        list-style-type: none;
    }

    .full_menu ul li{
        margin-top:30px;
    }
    
    .full_menu ul li:first-child{
        margin-top: 0;
    }

    .full_menu ul li a:hover{
        color: antiquewhite;
    }
    .full_menu ul li a{
        text-decoration: none;
        color:rgba(250, 235, 215, 0.726);
        font-weight: 400;
        font-size: 13px;

    }

 /* Banner */

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-item img{
        height: 360px;
    }

    .banner_details button{
        padding: 10px 18px 10px 18px;
        background-color: #3f9644;
        border-radius: 30px 30px;
        transition: .1s;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carousel-item img{
        height: 400px;
    }

    .banner_details button{
        padding: 14px 22px 14px 22px;
        background-color: #3f9644;
        border-radius: 30px 30px;
        transition: .1s;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-item img{
        height: 420px;
    }

    .banner_details button{
        font-size: 20px;
        padding: 20px 25px 20px 25px;
        background-color: #3f9644;
        border-radius: 30px 30px;
        transition: .1s;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-item img{
        height: 450px;
    }

    .banner_details button{
        padding: 20px 25px 20px 25px;
        background-color: #3f9644;
        border-radius: 30px 30px;
        transition: .1s;
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel-item img{
        height: 580px;
    }

    .banner_details p{
        margin-top: 40px;
    }

    .banner_details h3{
        margin-top: 38px;
        font-size: 60px;
        font-weight: 900;
    }

    .banner_details button{
        padding: 24px 35px 24px 35px;
        background-color: #3f9644;
        border-radius: 30px 30px;
        transition: .1s;
        font-size: 25px;
        margin-top:50px;
    }
}

.banner_details{
    top:25%;
    width:74%;
    padding-left: 20px;
}



.banner_details button:hover{
    color: white;
    background-color: #249729;
    transition: .2s;
}



/* Service */
.content{
    background: #529B56;
    z-index: 10;
    margin: auto;
    top:92%;
    width: 96%;
    left:2%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: -6%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: -2%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 52%;
    }

   .about_content img{
    height: 100%;
    width: 120%;
   }
}

@media only screen and (min-width: 810px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 49%;
    }
}

@media only screen and (min-width: 860px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 41%;
    }
}

@media only screen and (min-width: 922px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 34%;
    }
}

@media only screen and (min-width: 1024px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 32%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about_content{
        width: 96%;
        left:2%;
        margin: auto;
        margin-top: 21%;
    }
}

.a_det{
    width: 96%;
    left:2%;
}

.icon i{
    font-size: 46px;
    padding: 20px;
    background-color: #78b47c;
    border-radius: 100%;
}

.about{
   margin-top:50%;
}

.doc_img{
    height: 60%;
    width: 100%;
}
.doc_img img{
    height: 50%;
    width: 100%;
}

.care_icon{
    color: #529B56;
    border:2px solid #529B56;
    height: 70px;
}
.care_det{
    margin-top: -6px;
}

.con_img{
   background-image: linear-gradient(to right, rgba(50, 103, 131, 0.7), rgba(54, 105, 37, 0.7)),url("/img/dna.png");
   height: 300px;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: 100% 100%;
}

.btn_full{
    background-color: #529B56;
}
.btn_full:hover{
    background-color: #3f9644;
}
.free_con{
    margin-top:10%;
}

/* Filter */
.filterDiv {
    float: left;
    /* background-color: #3f9644; */
    color: #ffffff;
    width: 100%;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }

  /* Style the buttons */
  /* For Small btn */
  .btn {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3f9644;
    color:white;
  }
  
  .btn.active {
    background-color: #3f9644;
    color: white;
  }

  .doctor_img{
    position:relative;
    height: 350px;
    width:90%;
    margin:auto;
    transition:0.30s;
  }
  /* .doctor_img {
    position: relative;
  } */

  .doc_social_icon{
    position: absolute;
    bottom: 0;
    left:0;
    opacity: 0;
    z-index: 10;
    width: 100%;
    transition:0.30s;
  }
  .doc_social_icon i{
    color: rgb(8, 66, 18);
    padding: 10px;
  }

  .doc_social_icon i:hover{
    color:black;
    transition: .30s;;
  }
  .doc_social_icon:after{
    position: absolute;
    content: "";
    background-color: #b2dcf0;
    /* padding: 20px; */
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    z-index: -1;
    transition:0.30s;
  }

  /* .doc_social_icon:after:hover{
    transition: .40s;
    width: 0;
  } */

  .doctor_img:hover .doc_social_icon{
    opacity: 1;
    transition:0.30s;
  }
  .free_back{
    background-image: linear-gradient(to right, rgba(6, 241, 241, 0.7), rgba(0, 0, 0, 0.7)),url("/img/green-graduating-lines-background.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    /* height: 800px; */
}
.f_form{
    border-bottom:1px solid white;
}

.free_back input:focus {
   border-color: rgb(185, 179, 179);
}
.free_back option{
    background-color: rgb(53, 122, 139);
}
.counter{
    width:90%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    height: 230px;
}
.full{
    height: 100%;
}
.contentss i{
    color: #3f9644;
    font-size: 18px;
}
  