*{
    margin: 0;
    padding: 0;
    }
    .banner{
        background-color: #F0F5F7;
        height: 500px;
    }

    nav a{
        padding: 16px;
    }

    .menu a:hover{
        background-color: rgb(100, 99, 99);
        color: antiquewhite;
        border-radius: 6px;
        
    }
    .menu_border{
        border-bottom:1px solid gray;
        padding: 18px;
    }

    .menu button{
        background-color: rgb(255, 145, 0);
        padding: 20px;
        transition: .4s;
    }
    .menu button:hover{
        background-color: rgb(255, 115, 0);
        transition: .4s;
    }

    .lg_nav a:hover{
        color: rgb(216, 78, 27);
    }

    .lg_log .p_job{
        background-color: rgb(255, 145, 0);
        transition: .2s;
    }

    .lg_log .p_job:hover{
        background-color: rgb(255, 115, 0);
        transition: .2s;
    }
    .lg_log .log_reg{
        background-color: #1967D2;
        transition: .2s;
    }

    .lg_log .log_reg:hover{
        background-color: #0c57c0;
        transition: .2s;
    }

    .lg_log .cv{
        background-color: transparent;
        
    }



   